<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TESTSERVLET</servlet-name>
        <servlet-class>controller.TESTSERVLET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuLogin</servlet-name>
        <servlet-class>controller.menuLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSite</servlet-name>
        <servlet-class>controller.adminSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuMain</servlet-name>
        <servlet-class>controller.menuMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuTermekek</servlet-name>
        <servlet-class>controller.menuTermekek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuTamogatoink</servlet-name>
        <servlet-class>controller.menuTamogatoink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTermek</servlet-name>
        <servlet-class>controller.createThings.createTermek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTermek</servlet-name>
        <servlet-class>controller.listThings.listTermek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>backAdmin</servlet-name>
        <servlet-class>controller.backAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPartner</servlet-name>
        <servlet-class>controller.createThings.createPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPartner</servlet-name>
        <servlet-class>controller.listThings.listPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createGyarto</servlet-name>
        <servlet-class>controller.createThings.createGyarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listGyarto</servlet-name>
        <servlet-class>controller.listThings.listGyarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createSzerviz</servlet-name>
        <servlet-class>controller.createThings.createSzerviz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listSzerviz</servlet-name>
        <servlet-class>controller.listThings.listSzerviz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuProfil</servlet-name>
        <servlet-class>controller.menuProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>szures</servlet-name>
        <servlet-class>controller.szures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chPassw</servlet-name>
        <servlet-class>controller.chPassw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chUserSettings</servlet-name>
        <servlet-class>controller.chUserSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delAcc</servlet-name>
        <servlet-class>controller.delAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listVasarlasok</servlet-name>
        <servlet-class>controller.listThings.listVasarlasok</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>targyOldal</servlet-name>
        <servlet-class>controller.targyOldal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lemond</servlet-name>
        <servlet-class>controller.lemond</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listEgysegarak</servlet-name>
        <servlet-class>controller.listEgysegarak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>termekErtekeles</servlet-name>
        <servlet-class>controller.createThings.termekErtekeles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tremekekVasarlasa</servlet-name>
        <servlet-class>controller.createThings.tremekekVasarlasa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>termekTorlese</servlet-name>
        <servlet-class>controller.termekTorlese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kosarUrites</servlet-name>
        <servlet-class>controller.kosarUrites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>elfelejtettJelszo</servlet-name>
        <servlet-class>controller.elfelejtettJelszo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>controller.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWPassword</servlet-name>
        <servlet-class>controller.NEWPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/logAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TESTSERVLET</servlet-name>
        <url-pattern>/TESTSERVLET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuLogin</servlet-name>
        <url-pattern>/menuLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSite</servlet-name>
        <url-pattern>/adminSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuMain</servlet-name>
        <url-pattern>/menuMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuTermekek</servlet-name>
        <url-pattern>/menuTermekek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuTamogatoink</servlet-name>
        <url-pattern>/menuTamogatoink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTermek</servlet-name>
        <url-pattern>/createTermek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTermek</servlet-name>
        <url-pattern>/listTermek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>backAdmin</servlet-name>
        <url-pattern>/backAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPartner</servlet-name>
        <url-pattern>/createPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPartner</servlet-name>
        <url-pattern>/listPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createGyarto</servlet-name>
        <url-pattern>/createGyarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listGyarto</servlet-name>
        <url-pattern>/listGyarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createSzerviz</servlet-name>
        <url-pattern>/createSzerviz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listSzerviz</servlet-name>
        <url-pattern>/listSzerviz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuProfil</servlet-name>
        <url-pattern>/menuProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>szures</servlet-name>
        <url-pattern>/szures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chPassw</servlet-name>
        <url-pattern>/chPassw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chUserSettings</servlet-name>
        <url-pattern>/chUserSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delAcc</servlet-name>
        <url-pattern>/delAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listVasarlasok</servlet-name>
        <url-pattern>/listVasarlasok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>targyOldal</servlet-name>
        <url-pattern>/targyOldal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Kosar</servlet-name>
        <servlet-class>controller.Kosar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kosar</servlet-name>
        <url-pattern>/kosar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>kosarhozAdas</servlet-name>
        <servlet-class>controller.kosarhozAdas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kosarhozAdas</servlet-name>
        <url-pattern>/kosarba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lemond</servlet-name>
        <url-pattern>/lemond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listEgysegarak</servlet-name>
        <url-pattern>/listEgysegarak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>termekErtekeles</servlet-name>
        <url-pattern>/termekErtekeles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tremekekVasarlasa</servlet-name>
        <url-pattern>/tremekekVasarlasa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>termekTorlese</servlet-name>
        <url-pattern>/termekTorlese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kosarUrites</servlet-name>
        <url-pattern>/kosarUrites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>elfelejtettJelszo</servlet-name>
        <url-pattern>/elfelejtettJelszo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWPassword</servlet-name>
        <url-pattern>/NEWPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
