*{
    font-size: 15px;
    margin:0;
    padding:0;
    font-family: sans-serif;
}


button, input{
    cursor: pointer;
}



/*
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 

*/

header
{
    background: rgb(172, 255, 47);
    width: 100%;
    display: flex;
    flex-direction: column;
}



header nav
{
    height: 110px;
    display: flex;/*egymás mellé rakjuk a logókat*/
    justify-content: space-around;/*kitölti az elemekkel a teret. Két elem esetén, az egyik megy balra, a másik jobbra*/
    align-items: center;/*függőleges hözépre igazítás a navon belül*/

}
header .logo img/*A headeren, logon belüli képek*/
{
    width: 100%;
}
header .szolgaltatasok img
{
    width: 50px;
}



header img
{
    padding: 30px;
    
}


header nav button
{
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 35px ;/*link margók*/
/*lekerekítés, 50 px el*/
    transition: background 0.3s;/*a háttér elszíneződés időtartama*/
    background: rgb(145, 226, 22);
}

header nav button:hover
{
    background: rgba(0, 0, 0, 0.25);
}

header .funkciok{
    transition: background 0.3s;
}

.funkciok:hover{
    background: rgba(0, 0, 0, 0.25);
}


.header_atmenet{
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(172, 255, 47, 1), rgba(172, 255, 47, 0.1));
    display: block;
    position:absolute;
    z-index: 2;
    top: 110px;
}

/*
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 

*/


/*________________________________________________________________________________*/

/*________________________________________________________________________________*/
/*index.html main - vége*/



.index_fix_hatter{
    background-image:url(lany_geppel.jpg);
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    size: 100%;
    background-position-y:70%;
    height: 500px;



    
}

.index_promo_teglalapok{
    display: flex;
    position:absolute;    
    top: 50%;
    left: 5%;
    width: 20%;
    flex-direction: column;
    
    
    
}

    

.index_promo_teglalapok p{
    position: relative;
     width: 100%;
     height: 100%;
     display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/

    font-weight: bold;
    font-size: 120%;
    font-family: monospace;
    

}


.index_promo_teglalap_1{
    height: 50px;
    width: 90%;
    background-color: rgba(65, 65, 65, 0.685);
    margin-bottom: 10px;
    border-radius: 20px;
    

    

}

.index_promo_teglalap_2{
    background-color: blanchedalmond;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    

}

.index_promo_teglalap_3{
    background-color: rgba(65, 65, 65, 0.685);
    border-radius: 20px;
    height: 60px;
    width: 120%;
    padding: 10px;

    
}
/*felirat beállítások*/

.index_promo_teglalap_1 p, .index_promo_teglalap_3 p{
    
    color: blanchedalmond;

}

.index_promo_teglalap_2 p{
    color: rgb(19, 14, 14);
}

.index_ures{
    height: 500px;
    background-color: rgba(0, 0, 255, 0.116);
}

/*index.html main - vége*/
/*________________________________________________________________________________*/
/*leiras.html main - eleje*/
.mainContainer 
{
    display: flex;
}

.termekek{
    width: 70%;
    background-color:silver;
    
}
main .mainFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leirasAside
{
    width: 30%;
    background-color: rgba(188, 143, 143, 0.685);
}

main .bemutatkozas{
    background-image:url(lany_geppel.jpg);
    background-size: cover;/*szélesség meg lesz, de a magasság nem*/
    background-repeat: no-repeat;/*hogy ne legyen ismétlés*/
    background-position:center;/*biztos, hogy illeszkedni fog a tetejéhet az alsó résznek*/
    width: 100%;
    height: 500px;
}


.leirasAside form ul{
    display: block;
    list-style-type: none;
}

.leirasAside form ul li{
    margin: 25px;
    
}


.leirasAside label{
    font-size: 200%;
    background-color: rgba(190, 119, 119, 0.568);
}

input[type = checkbox]{
    transform: scale(2);
    margin: 10px;
}


main .termek img{
    width: 90%;
    margin: 5% 15px;
}

main .termekContainer{
    display: flex;
    justify-content: space-around;
}
main .termek{
    width: 32%;
    background-color: blueviolet;
    margin-bottom: 10px;
}

main .termek .termekAdat{
    text-align: center;
    padding: 5px 15px;
}

/*leiras.html main - vége*/
/*________________________________________________________________________________*/



/*regisztracio.html main - kezdete*/

.bejelentkezes, .regisztracio{  
    width: 382px;  
    overflow: hidden;  
    margin: 20px auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
.logreg h2{  
text-align: center;  
color: #588227;  
padding: 20px;
font-size: 200%;
}  
.logreg label{  
color: #08ffd1;  
font-size: 17px;  
}  
.logreg input{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  

.logreg .bekuld{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  



/*leiras.html main - vége*/

/*________________________________________________________________________________*/


/*termekleiras.html main - eleje*/

.termekleiras{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
}
.termekleiras h1{
    margin: 30px auto;
    font-size: 200%;
}
.termekleiras img{
    width: 50%;
    margin: 10px auto;
}
.termekleiras p{
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px auto;
    text-align: center;
}
.termekleiras .leiras{
    width: 70%;
}
.termekleiras .ar,
.termekleiras .raktaron{
    text-align: center;
}
.termekleiras form{
    margin: 15px auto;
}
/*termekleiras.html main - vége*/


/*________________________________________________________________________________*/


/*footer - kezdet*/



footer{
    width: 100%;
    height: 250px;
    background-color: rgba(188, 143, 143, 0.685);
    display: flex;
    align-items: center;
    position: relative;
}


footer .bemutatkozas{
    width: 95%;
    height: 95%;
    margin: auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    


}
.footer_info_box{
    width: 30%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
}

footer .footer_elerhetoseg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;

}

.footer_elerhetoseg img{
    width: 40px;
    height: 40px;
}

footer h3{
    font-size: 150%;
    color:  rgb(68, 33, 24);
}

footer a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration-color: rgba(0, 0, 0, 0.459);
    
}

.footer_atmenet{
    
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(172, 255, 47, 0), rgba(188, 143, 143, 0.685));
    position:absolute;
    z-index: 2;
    top: -20px;
    
    
}

/*footer - vége*/
/*________________________________________________________________________________*/

/*Klepe kontárkodik*/
.tamogatoinkMain {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(114, 114, 114, 0.21);
}
.tamogatoinkMain .theme{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
}
.tamogatoinkMain .theme th{
    background-color: rgba(64, 64, 64, 0.21);
    padding: 10px 10px;
    border-bottom: 3px solid #999;
    border-top: 5px solid #999;
}
.tamogatoinkMain .theme tr td{
    padding: 15px 10px;
}
.tamogatoinkMain .theme tbody tr{
    border-bottom: 1px solid #555;
    transition: background 0.3s, color 0.3s;
}
.tamogatoinkMain .theme tbody tr:hover{
    background-color: rgba(114, 114, 114, 0.62);
    color: #fff;
}
.tamogatoinkMain hr{
    margin: 25px 0;
}
/*még mindig*/
.mainProfil{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(108, 108, 108, 0.13);
}
.mainProfil .felhasznalo{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: rgba(153, 153, 153, 0.1);
    text-align: center;
    border: 1px solid #999;
}
.mainProfil .fhMainInfo{
    padding: 25px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhMainInfo .fName{
    font-size: 150%;
    text-transform: uppercase;
}
.mainProfil .fhMainInfo .femail{
    font-size: 125%;
    text-transform: lowercase;
}
.mainProfil .fhMainInfo .fName,
.mainProfil .fhMainInfo .femail{
    line-height: 2;
}
.mainProfil .fhOtherInfo{
    margin: 25px 0;
    padding: 30px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhOtherInfo span{
    font-size: 130%;
    line-height: 3;
}
.mainProfil .fhFunction{
    margin: 50px 0;
    padding: 25px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhFunction input{
    width: 40%;
    margin: 10px 0;
    height: 25px;
}
.mainProfil .fhFunction button{
    margin: 20px;
    padding: 15px 25px;
}