*{
    font-size: 15px;
    margin:0;
    padding:0;
    font-family: sans-serif;
}


button, input{
    cursor: pointer;
}



/*
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 
HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, HEADER ELEJE, 

*/

header
{
    
    width: 100%;
    display: flex;
    flex-direction: column;

}



header nav
{
    /*background: rgb(172, 255, 47);*/
    background-color: rgba(29, 243, 143, 0.527);
    height: 16vh;
    display: flex;/*egymás mellé rakjuk a logókat*/
    justify-content: space-around;/*kitölti az elemekkel a teret. Két elem esetén, az egyik megy balra, a másik jobbra*/
    align-items: center;/*függőleges hözépre igazítás a navon belül*/

}
header .logo img/*A headeren, logon belüli képek*/
{
    width: 7vw;
}
header .szolgaltatasok img
{
    width: 4vw;
}



header img
{
    padding: 1vw;
    
}

/*gomb eleje*/
header button{
    margin: 10px;
    font-family: inherit;
    
    
  }
.fill {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 2vh 3vw;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    
  }
  
  .fill::after {
    border-radius: 10px;
    content: "";
    background-color: #ffd900;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
    
  }
/*gomb vége*/

/*
header nav form button
{
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3vh 4vw;
    transition: background 0.3s;
    background: rgb(145, 226, 22);
}

header nav button:hover
{
    background: rgba(0, 0, 0, 0.25);
}
*/

header .funkciok{
    transition: background 0.3s;
}

.funkciok:hover{
    background: rgba(0, 0, 0, 0.25);
}


.header_atmenet{
    width: 100%;
    height: 2vh;
    background: linear-gradient(rgba(136, 294, 196, 1), rgba(29, 243, 143, 0.103));
    display: block;
    position:absolute;
    z-index: 2;
    top: 16vh;
    ;
}

/*
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 
HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, HEADER VÉGE, 

*/


/*________________________________________________________________________________*/

/*________________________________________________________________________________*/
/*index.html main - vége*/



.index_fix_hatter{
    background-image:url(lany_geppel.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 80vh;
    
    
}

.index_promo_teglalapok{
    display: flex;
    position:absolute;    
    top: 30%;
    left: 5%;
    
    flex-direction: column;  
    
}

    

.index_promo_teglalapok p{
    position: relative;
     height: 100%;
     display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/

    font-weight: bold;
    font-size: 1.5vw;
    font-family: monospace;
    padding: 1vw;
    width: 30vw;
    

}


.index_promo_teglalap_1{
    
    background-color: rgba(65, 65, 65, 0.685);
    margin-bottom: 2vh;
    border-radius: 20px;

}

.index_promo_teglalap_2{
    background-color: blanchedalmond;
    border-radius: 20px;
    
    margin-bottom: 2vh;
    

}

.index_promo_teglalap_3{
    background-color: rgba(65, 65, 65, 0.685);
    border-radius: 20px;
   
    
    

    
}
/*felirat beállítások*/

.index_promo_teglalap_1 p, .index_promo_teglalap_3 p{
    
    color: blanchedalmond;

}

.index_promo_teglalap_2 p{
    color: rgb(19, 14, 14);
}
/*slider*/
#kekhatter{
    background-color: rgba(100, 148, 237, 0.329);
}

#slider {
    padding: 3%;
    margin: 0 auto;
    width: 800px;
    max-width: 90%;
    text-align: center;
    
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background-image: url(also1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    
 }
 #slides .slide_2 {
    background-image: url(also5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
 }
 #slides .slide_3 {
    background-image: url(also3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
 }
 #slides .slide_4 {
    background-image: url(also6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background-color: darkblue;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background-color: rgb(251, 255, 0);
    background-image: url(Next_Arrow.svg.png);
    background-repeat: no-repeat;
    float:left;
    z-index: 4;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }


/*index.html main - vége*/
/*________________________________________________________________________________*/
/*leiras.html main - eleje*/
.mainContainer 
{
    display: flex;
    justify-content: space-around;
    background-color: rgba(100, 148, 237, 0.329);
}

.termekek{
    width: 69%;
    
    
}
main .mainFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leirasAside
{
    width: 29%;
    /*background-color: rgba(188, 143, 143, 0.685);*/
    background-color: #c392e69f;
    border-radius: 20px;
}

main .bemutatkozas{
    background-image:url(lany_geppel.jpg);
    background-size: cover;/*szélesség meg lesz, de a magasság nem*/
    background-repeat: no-repeat;/*hogy ne legyen ismétlés*/
    background-position:center;/*biztos, hogy illeszkedni fog a tetejéhet az alsó résznek*/
    width: 100%;
    height: 500px;
}


.leirasAside form ul{
    display: block;
    list-style-type: none;
}

.leirasAside form ul li{
    
    border-bottom: #032c25;
    border-bottom-style: solid;
    border-bottom-width: 50%;
    margin-bottom: 25px;
    
}
.termek_szures{
    padding: 1vw;
}
.ar_szerint_no_csokken{
    padding-left: 10px;
    margin-bottom: 30px;
}

.leirasAside label{
    font-size: 150%;
    
}

.leirasAside h1{
    padding-bottom: 1vw;
    font-size: 150%;
}
.leirasAside h4{
    padding-bottom: 1vw;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.temek_kereses{
    padding: 1vw;
}

input[type = radio]{
    transform: scale(1.5);
    margin: 10px;
}


.termekek .termek img{
    width: 90%;
    margin: 5px 15px;
    border-radius: 5px;
}

.termekek .termekContainer{
    display: flex;
    justify-content: space-around;
}

.termekContainer .termeknev{
    width: 50%;
   
}

.termekContainer .nev_ar{
    width: 50%;
}

.termekek .termek{
    width: 32%;/*bizonyos méreteknél ezt kell átírni, hogy jó legyen  width: 48%;*/
    background-color:#d6ba739f;
    margin-bottom: 10px;
    border-radius: 10px;
}

.termekek .termek .termekAdat{

    text-align: center;
    padding: 5px 5px;

}

.nev_ar{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.nev_ar .h5{
    
    width: 100%;
    height: 30%;
}
.nev_ar h5{
    text-align: center;
    padding: auto;
    color: rgb(1, 0, 73);
}

.nev_ar .form{
    
    height: 70%;
    
}


.termekek button{
    font-family: "Roboto Mono", monospace;
    z-index: 2;
    height: 5vh;
    width: 8vw;
    border-radius: 20px;
    background: linear-gradient(rgb(0, 204, 255), rgb(0, 255, 128));
    transition: background 0.3s;
    border-width: 1px;
    border-color: black;

}
.termekek button:hover{
    background: linear-gradient( rgb(0, 255, 128),rgb(0, 204, 255));
    
}

.termek_szures button{
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    font-style:unset;
    font-size: 150%;
    background: linear-gradient( rgb(194, 177, 151),rgb(155, 136, 115));
    transition: background 0.3s;
}

.termek_szures button:hover{
    background: linear-gradient(rgb(155, 136, 115), rgb(194, 177, 151));
}






/*leiras.html main - vége*/
/*________________________________________________________________________________*/



/*regisztracio.html main - kezdete*/

.logreg{
    
    background-color: rgba(100, 148, 237, 0.329);
    
}

.bejelentkezes, .regisztracio{  
    width: 382px;  
    overflow: hidden;  
    margin: 20px auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
.logreg h2{  
text-align: center;  
color: #588227;  
padding: 20px;
font-size: 200%;
}  
.logreg label{  
color: #08ffd1;  
font-size: 17px;  
}  
.logreg input{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  

.logreg .bekuld{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  



/*leiras.html main - vége*/

/*________________________________________________________________________________*/


/*termekleiras.html main - eleje*/
/*
.termekleiras{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.termekleiras h1{
    margin: 30px auto;
    font-size: 200%;
}

.termekleiras img{
    width: 50%;
    margin: 10px auto;
}
.termekleiras p{
    margin: 30px auto;
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;

}
*/


.termekleiras{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 148, 237, 0.226);
    
}
.termekleiras h1{
    margin: 10px auto;
    font-size: 200%;
    font-family: "Roboto Mono", monospace;
    transition: transform 1.5s 0s ease, all 0.5s 0s ease;
}
.termekleiras h1:hover{
    transform: scale(1.3);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras img{
    width: 50%;
    margin: 30px auto;
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
}

.termekleiras img:hover{
    width: 50%;
    margin: 30px auto;
    transform: scale(1.05);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras p1{
    margin: 10px auto;
    font-size: 110%;
    font-family: "Roboto Mono", monospace;
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;


}
.termekleiras p1:hover{
    transform: scale(1.2);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras p2{
    margin: 10px auto;
    font-size: 110%;
    font-family: "Roboto Mono", monospace;
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
}

.termekleiras p2:hover{
    transform: scale(1.2);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras p3{
    margin: 10px auto;
    font-size: 110%;
    font-family: "Roboto Mono", monospace;
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;

}

.termekleiras p3:hover{
    transform: scale(1.2);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras p4{
    margin: 10px auto;
    font-size: 110%;
    font-family: "Roboto Mono", monospace;
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;

}

.termekleiras p4:hover{
    transform: scale(1.2);
    transition: transform 0.5s 0s ease, all 0.5s 0s ease;
    cursor: default;
}

.termekleiras form1{
    margin: 10px auto;
    font-size: 110%;
    font-family: "Roboto Mono", monospace;

}

/*termekleiras.html main - vége*/


/*________________________________________________________________________________*/


/*footer - kezdet*/



footer{
    width: 100%;
    height: 40vh;
    background-color: rgba(188, 143, 143, 0.685);
    display: flex;
    align-items: center;
    position: relative;
}

footer p{
    font-size: 1vw;
}


footer .bemutatkozas{
    width: 95%;
    height: 95%;
    margin: auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    


}
.footer_info_box{
    width: 30%;
    display: flex;
    align-content: stretch;
    flex-direction: column;
}

footer .footer_elerhetoseg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;

}

.footer_elerhetoseg img{
    width: 10%;
    height: 10%;
}

footer h3{
    font-size: 2vw;
    color:  rgb(68, 33, 24);
}

footer a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration-color: rgba(0, 0, 0, 0.459);
    font-size: 1vw;
    
}

.footer_atmenet{
    
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(172, 255, 47, 0), rgba(188, 143, 143, 0.685));
    position:absolute;
    z-index: 2;
    top: -20px;
    
    
}

/*footer - vége*/
/*________________________________________________________________________________*/

/*Klepe kontárkodik*/
.tamogatoinkMain {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(114, 114, 114, 0.21);
}
.tamogatoinkMain .tamogatoinkPH{
    height: 200px;
}
.tamogatoinkMain .theme{
    width: 90%;
    border-collapse: collapse;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
}
.tamogatoinkMain .theme th{
    background-color: rgba(64, 64, 64, 0.21);
    padding: 10px 10px;
    border-bottom: 3px solid #999;
    border-top: 5px solid #999;
}
.tamogatoinkMain .theme tr td{
    padding: 15px 10px;
}
.tamogatoinkMain .theme tbody tr{
    border-bottom: 1px solid #555;
    transition: background 0.3s, color 0.3s;
}
.tamogatoinkMain .theme tbody tr:hover{
    background-color: rgba(114, 114, 114, 0.62);
    color: #fff;
}
.tamogatoinkMain hr{
    margin: 25px 0;
}
/*még mindig*/
.mainProfil{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(108, 108, 108, 0.13);
}
.mainProfil .felhasznalo{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: rgba(153, 153, 153, 0.1);
    text-align: center;
    border: 1px solid #999;
}
.mainProfil .fhMainInfo{
    padding: 25px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhMainInfo .fName{
    font-size: 150%;
    text-transform: uppercase;
}
.mainProfil .fhMainInfo .femail{
    font-size: 125%;
    text-transform: lowercase;
}
.mainProfil .fhMainInfo .fName,
.mainProfil .fhMainInfo .femail{
    line-height: 2;
}
.mainProfil .fhOtherInfo{
    margin: 25px 0;
    padding: 30px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhOtherInfo span{
    font-size: 130%;
    line-height: 3;
}
.mainProfil .fhFunction{
    margin: 50px 0;
    padding: 25px 0;
    border: 1px solid #999;
    border-radius: 100px;
}
.mainProfil .fhFunction input{
    width: 40%;
    margin: 10px 0;
    height: 25px;
}
.mainProfil .fhFunction button{
    margin: 20px;
    padding: 15px 25px;
}